<h1>Contacto</h1>

<form action="/contacto" method="POST"> 
    <label>Email: </label>
    <input name="email"  type="email" />&nbsp;
    <label>Password: </label>
    <input name="password" type="password" />
    <button type="submit" name="enviar">Enviar</button>
</form>